__pycache__/
.vscode
*.engine
*.engine.config
*.cache
*.nsys-rep
*.npy
.VSCodeCounter
cpp/build*
build
!tensorrt_bionemo/bench/build
!builders/
*.egg-info/
.coverage
*.onnx
tmp/
venv/
.venv/
.python-version
.local/
.hypothesis/
.idea/
dump*/
*.dot
*.prof
*.log
*.pkl
*.hdf5
*.lock
config.json
/*.svg
cpp/cmake-build-*
cpp/.ccache
tensorrt_bionemo/bin
tensorrt_bionemo/libs
tensorrt_bionemo/bindings.*.so
tensorrt_bionemo/bindings.pyi
tensorrt_bionemo/bindings/**/*.pyi
*docs/cpp_docs*
*docs/source/_cpp_gen*
*.swp

# Testing
.coverage.*

# build/debug
*.safetensors
*.patch

# User config files
CMakeUserPresets.json
compile_commands.json
*.bin
.dir-locals.el
.pip_cache/