cuda-python>=13
omegaconf==2.3.0
transformers>=4.55.0,<=4.57.1
cuequivariance==0.8.1
cuequivariance-ops-cu13==0.8.1
cuequivariance-ops-torch-cu13==0.8.1
cuequivariance-torch==0.8.1
nvtx
matplotlib # FIXME: this is added to make nvtx happy
tensorrt>=10.13.2
triton==3.5.0
biopython>=1.84
ray==2.53.0
boto3==1.42.17
ray[serve]
uvloop==0.21.0
modelcif==1.6  # needed for CIFWriter
pandas==3.0.0  # needed for CIFWriter
pyarrow==23.0.0  # needed for CIFWriter
